<html>
  <head>
    <style>
    #container{
    	margin: 0 auto;
    	width:500px;
    	height: auto;
    	/*border:solid;*/
    }
    #bottom {
    	width:420px;
    	border:solid;
    }
    th{
    	padding: 10px;
    }
    td{
    	padding: 10px;
    	text-align: center;
    	font-size:13px;
    }
    </style>
  </head>
  <body>
  {{ s_allcourse }}
  	<div id = "container">
  		<div id = "content">
		  	<div id = "top">
			    <h2> Add a new course </h2>
			    <form action="/courses/add" method="post">
			    Name: <input type="text" name="f_course_name"><br><br>
			    Description:
			    	<br><textarea rows='8' cols="50" name="f_course_description"></textarea><br><br>
			    <input type="submit" value="add" name="">
			    </form>
			</div>
			<h2> Courses </h2>
			<div id="bottom">
				<table>
					<thead>
						<tr>
							<th>
								Course Name
							</th>
							<th>
								Description
							</th>		
							<th>
								Date Added
							</th>				
							<th>
								Actions
							</th>	
						</tr>
					</thead>
					<tbody>
					{% for course in s_allcourse %}
					<tr>
						<td> {{ course['course_name'] }} </td>
						<td>  {{ course['description'] }} </td>
						<td> {{ course['created_at'] }}  {{course['id']}} </td>	
						<td><a href="/courses/remove/{{course['id']}}"><button type="button" name="remove">Remove</button></a></td>
					</tr>
					{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
  </body>
</html>
